<h1>Listing activities</h1>

<table>
  <tr>
    <th>Activity</th>
    <th>Value</th>
    <th>Date/Number of times preformed</th>
    <th></th>
    <th></th>
  </tr>

<% @activities.each do |activity| %>
  <tr>
    <td><%= activity.activity %></td>
    <td><%= activity.value %></td>
    <td><%= render activity.preformeds %></td>
    <td><%= link_to 'Show', activity %></td>
    <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
    <td><%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Activity', new_activity_path %>
