<h1>Listing activities</h1>


<%= form_tag search_path, method: :get do %>
  Start Date :
  <%#= text_field_tag :start_date, params[:start_date] %></br>
  <div class="field">
    <%= datepicker_input "project","start_date" %></br>
  </div>
  End Date :
  <%#= text_field_tag :end_date, params[:end_date] %></br>
  <%= datepicker_input "project","end_date" %></br>

  <%= submit_tag "Search", name: nil %>
<% end %>
<table>
  <tr>
    <th>Activity</th>
    <th>Value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @activities.each do |activity| %>
  <tr>
    <td><%= activity.activity %></td>
    <td><%= activity.value %></td>
    <td>====</td>
    <td><%= link_to 'Show', activity %></td>
    <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
    <td><%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <tr>
      <td><%= render activity.preformeds %></td>
    </tr>
  </tr>
  <p></p>
<% end %>
</table>

<br />

<%= link_to 'New Activity', new_activity_path %>
